body{
    background-color: #191919;
}
#MainBody{
    background-color: #272828;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 2%;
}
.forumHeader{
    display: flex;
    background-color: #333333;
    margin: 0.5% -2%;
}
.forumHeader div{
    padding:0% 1%;
}
.fhTitle{
    flex: 2;
}

p {
    color: white;
}